.button{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(212, 212, 212, 0.5);
}

.active{
    background-color: lightgrey;
}