.form {
    position: relative;
    width: 35%;
    min-width: 300px;
    border-radius: 8px;

    background-color: white;
}

.form h2 {
    user-select: none;
    margin-left: 10px;
    text-align: center;
}

.form p {
    user-select: none;
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons button {
    margin: 10px;
}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}

.input input {
    width: calc(100% - 40px);
    height: 25px;

    padding-left: 5px;

    border: 1px black solid;
    border-radius: 3px;
}

.input input:focus {
    outline: none;
    border-color: purple;
}