.card {
    display: inline-block;
    height: 240px;
    width: 200px;

    border: 1px lightgrey solid;
    border-radius: 3px;

    margin-top: 20px;
    margin-left: 20px;

    cursor: pointer;
}

.card:hover {
    border: 1px purple solid;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px lightgrey solid;

    height: 200px;
}

.preview img {
    border-radius: 2px;
}

.textContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card p {
    margin: 0;
    margin-left: 10px;
    user-select: none;
}

.formtitle {
    font-weight: bold;
}

.formtime {
    font-size: 5px;
}