.container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.input[type="text"] {
    width: 100%;
    font-size: 15px;
    height: 30px;
    border-style: hidden;
    border-bottom-style: groove;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    border-width: 1px;
}

input.input[type="text"]:hover:not(.preview, .readOnly) {
    border-color: lightgrey;
}

.input[type="text"]:focus {
    outline: none;
}

.bar:after,
.bar:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 2px;
    height: 2px;
    background-color: purple;
    transition: width 0.3s ease-in-out;
}

.bar:after {
    left: 50%;
}

.bar:before {
    right: 50%;
}

.input[type="text"]:focus ~ .bar:after,
.input[type="text"]:focus ~ .bar:before {
    width: 50%;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
}

.error {
    border-bottom-style: groove !important;
    border-color: red !important;
}

.readOnly {
    -webkit-user-select: none;
            user-select: none;
}