.container {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1;

    border-radius: 50%;
}

.container:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.3);
}