.QuestionType{
    position: absolute;
    left: 10px;
}

.AddButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.DeleteButton{
    position: absolute;
    right: 10px;
}

.CopyButton{
    position: absolute;
    right: 40px;
    bottom: 10px;
}