.questionnaire {
    background-color: rgb(240, 235, 248);

    width: 100vw;
    min-height: 80vh;
    height: 100%;
}

.actionButton {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
            user-select: none;
    margin-bottom: 30px;
}

.container {
    position: relative;

    height: -webkit-max-content;

    height: max-content;
    background-color: rgb(240, 235, 248);

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.placeholder {
    height: 100px;
}

.hide {
    display: none;
}

.link {
    margin-left: 30px;
    color: blue;
    text-decoration: underline;
    cursor: default;
}

.link:hover {
    cursor: pointer;
}