.cart {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    outline: lightgrey solid 0.5px;
    box-sizing: border-box;

    background-color: white;
    width: 70vw;
    min-width: 950px;

    transition: box-shadow 0.3s ease-in-out;
}

@media screen and (max-width: 950px) {
    .cart {
        width: 100vw;
        min-width: 300px;
    }
}

.error {
    outline: red solid 1px !important;
}

.borderLeft {
    position: absolute;
    top: 0;
    height: 100%;
    width: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}

.borderLeft.focus {
    background-color: #4285f4;
}
