.SelectButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
}

.AddButton, .DeleteButton, .CopyButton, .MoveButton{
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.AddButton{
    margin-right: 10px;
}

.DeleteButton{
    margin-right: 10px;
}

.MoveButton{
    margin-right: 10px;
}

.DeleteButton:hover, .AddButton:hover, .CopyButton:hover, .MoveButton:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.3);
}

.CopyButton{
    margin-right: 15px;
}

.optionDiv{
    background-color: rgba(211, 211, 211, 0.3);
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px
}

.ButtonGroupBottom{
    position: relative;
    bottom: 0;
    margin-right: 0;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonGroupTop{
    position: absolute;
    right: 0;

    width: 25%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
