.container {
    width: calc(100% - 60px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.container > p span {
    font-weight: bold;
}

.container > span {
    margin-left: 20px;
    color: blue;
    cursor: default;
}

.container > span:hover {
    cursor: pointer;
}

.requiredHint {
    color: red;
    margin-left: 30px;
    margin-bottom: 5px;
}